.button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: var(--system-magenta, #CB11AB);
  height: 44px;
  padding: 8px 32px 12px;
  width: 100%;
}

.button__text {
  margin: 0;
  font-family: Segoe UI;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--system-white, #FFF);
}
