.footer {
  background-color: var(--system-violet, #6725A8);
}

.footer__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 0;
}

.footer__small-text {
  margin: 0;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.70);
}
