.main {
  grid-area: main;
  margin-right: 32px;
}

.main__wrapper {
  max-width: 890px;
  width: 100%;
}

.main__wrapper-basket {
  padding-top: 12px;
}

.main__title {
  margin: 0;
  font-family: Segoe UI;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: var(--text-black, #000);
  margin-bottom: 27px;
}

@media (max-width: 995px) {
  .main {
    margin-right: 0;
  }
}
